body {
    background-color: wheat;
}

header {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-size: 45px;
    text-align: center;
    cursor: pointer;
}

.libraryButton {
    background-color: goldenrod;
    width: 100px;
    height: 100px;
    z-index: 3;
    position: absolute;
    top: 15px;
    right: 15px;
}

.librarySide ul {
    margin-top: 6vh;
}

.librarySide ul li {
    font-size: 2vh;
    height: 3vh;
    padding-bottom: 5%;
    color: gold;
}

#classCocktailLibrary {
    overflow: hidden;
    height: 0;

    transition: height 0.75s;
}

#classicCocktLibraryButton {
    cursor: pointer;
}

.librarySide {
    position: fixed;
    height: 100vh;
    width: 20vh;
    background-color: navy;
    right: -450px;
    overflow-y: scroll;

    transition: right 0.75s;
}

.searchBlock {
    display: flex;
    justify-content: center;
    width: 70%;
}

.searchBlock input {
    width: 70%;
    height: 40px;
    margin-right: 20px;
}

.searchBlock .button {
    width: 20%;
}

.cocktailInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cocktailInfo img {
    display: hidden;
}

.cocktailName {
    display: none;
    font-size: 60px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.recipeContainer {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
}

.recipeContainer ul li{
    font-size: 50px;
    margin-bottom: 10%;
}

.ingredientsContainer {
    width: 57%;
}

.miscContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 43%;
}

.recipeContainer div h2 {
    text-align: center;
    font-size: 55px;
    font-weight: normal;
    margin: 0 0 5% 0;
    text-decoration: underline;
}

.recipeContainer div h3 {
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    margin: 0 0 10% 0;
}

.asd {
    width: 43%;
}

/*
#hidden {
    display: none;
}
*/