@font-face {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    src: url(../Fonts/FranklinGothicMedium.ttf);
}

@font-face {
    font-family: 'Saudagar';
    src: url(../Fonts/Saudagar.ttf);
}

@font-face {
    font-family: 'MyriadPro';
    src: url(../Fonts/MyriadPro-Regular.otf);
}

body {
    margin: 0;
    background-color: rgb(242, 242, 242);
    overflow-x: clip;
    background-image: url(../Images/background-leaf.png);
    background-size: cover;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerTextContainer {
    display: flex;
    background-color: rgb(214, 209, 196);
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2.5vh;
    padding-left: 5vw;
}

.headerImageContainer .headerText {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.headerTextContainer h2 {
    font-family: 'Saudagar';
    font-size: 80px;
    font-weight: normal;
    line-height: 1;
    color: rgb(242, 242, 242);
    margin: 0;
    margin-top: 3%;
}

.headerTextContainer h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 6rem;
    font-weight: normal;
    line-height: 0.7;
    letter-spacing: 15px;
    color: rgb(1, 92, 131);
    margin: 0;
    padding-left: 10%;
    padding-bottom: 2%;
}

.headerImageContainer {
    width: 15%;

}

.headerImageContainer img {
    width: 100%;
}

.libraryButton {
    width: 75px;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
    position: absolute;
    top: 30px;
    right: 30px;
}

.libraryButton .whiteLine {
    background-color: rgb(242, 242, 242);
    height: 10%;
    width: 100%;
    margin: 12% 0 12% 0;
}

.librarySide ul {
    margin-top: 6vh;
}

.librarySide ul li {
    font-size: 2vh;
    height: 3vh;
    padding-bottom: 5%;
    color: rgb(214, 209, 196);
}

.cocktailLibraryList {
    overflow: hidden;
    height: 0;

    transition: height 0.75s;
}

.cocktailListButton {
    cursor: pointer;
    font-weight: bolder;
    text-decoration: underline;
}

.librarySide {
    position: fixed;
    height: 100vh;
    width: 50vw;
    min-width: fit-content;
    background-color: rgb(1, 92, 131);
    right: -55vw;
    overflow-y: scroll;
    border-left: 10px solid rgb(242, 242, 242);
    z-index: 2;

    transition: right 0.75s;
}

.searchBarContainer {
    width: 80%;
    height: 3vh;
    display: flex;
    background-color: rgb(214, 209, 196);
    border-radius: 25px;
    border: 2px solid rgb(0, 0, 0);
}

.searchBlock {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    padding-right: 1%;
}

.searchBlock input {
    height: 100%;
    width: 81%;
    background-color: rgb(242, 242, 242);
    border: 0;
    margin-right: 20px;
    padding: 0;
}

.searchBlock .button {
    width: 7%;
    height: 100%;
}

.searchBlock .button img {
    height: 100%;
    cursor: pointer;
}

.cocktailInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cocktailImgCont {
    background-color: rgb(1, 92, 131);
    width: 20vh;
    aspect-ratio: 1/1;
    border-radius: 5vw;
    border: 2px solid rgb(1, 1, 1);
}

.cocktailInfo img {
    display: hidden;
}


.cocktailName {
    display: none;
    font-family: 'MyriadPro';
    font-size: 4rem;
    font-weight: normal;
    margin: 7% 0 3% 0;
}

.cocktailDetailsContainer {
    width: 100%;
    margin-top: 10%;
    height: fit-content;
    background-color: rgb(214, 209, 196);
    color: rgb(1, 92, 131);
}

.cocktailDetailsContainer .ingredientH3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4.5rem;
    font-weight: normal;
    letter-spacing: 7px;
    display: inline-block;
    margin: 2% 0 0 2%;
}

.recipeContainer {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 95%;
}

.recipeContainer ul li{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10%;
}

.ingredientsContainer {
    width: 55%;
}

.ingredientsContainer span {
    color: rgb(1, 1, 1);
}

.ingredientsContainer ul {
    list-style: none;
    padding: 0;
    font-family: 'Saudagar';
    font-weight: normal;
    margin-top: 3vh;
}

.miscContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    border-left: 5px solid rgb(1, 92, 131);
    font-family: 'MyriadPro';
    position: relative;
    top: -3vh;
    z-index: 0;
}

.miscIconContainer {
    background-color: white;
    width: 10vw;
    height: 10vw;
    aspect-ratio: 1/1;
    border-radius: 5vw;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.miscIconContainer img {
    width: 225%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#glassIcon {
    width: 135%;
    transform: rotate(3deg);
}

#methodIcon {
    width: 150%;
    transform: rotate(45deg) translate(-10px, -5px);
}

#garnishIcon {
    width: 170%;
}

.recipeContainer div h2 {
    text-align: center;
    font-size: 55px;
    font-weight: normal;
    margin: 0 0 5% 0;
    text-decoration: underline;
}

.recipeContainer div h3 {
    text-align: center;
    font-size: 3rem;
    font-weight: normal;
    margin: 0 0 2.5vh 0;}

.asd {
    width: 43%;
}

/*
#hidden {
    display: none;
}
*/